.listHeader {
  height: 45px;
  background-color: #f6f5f6;
  padding-left: 10px;
}
:global {
  .icon-back {
    color: #999;
  }
}

.listSearch {
  position: relative;
  top: 0px;
  padding: 5px 10px;
  :global {
    .iconmap {
      color: #00ae66;
    }
  }
}
